.games-box {
    flex           : 0 0 32%;
    height         : 220px;
    background     : $box-color;
    border-radius  : 20px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    box-shadow     : $box-shadow;
    transition     : none;
    text-decoration: none;
    margin-top     : 20px;
    background-image: url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/Cardbground.png);
    background-size: cover;
    @include for-phone-only {
        height: 170px;
    }

    &__image {
        object-fit: contain;

        @include for-phone-only {
            max-width : 90px;
            height: 46px;
        }
    }

    &__title {
        color         : #000;
        font-size     : 18px;
        font-weight: bold;
        text-align    : center;

        @include for-phone-only {
            font-size: 14px;
        }
    }

    &__count {
        color      : #000;
        font-size  : 14px;
        font-weight: 600;
        margin-left: 5px;

        @include for-phone-only {
            font-size: 12px;
            margin-left: 0px;
        }
        @media (max-width: 865px) {
            font-size: 10px;
            margin-left: 5px;
        }
        @media (max-width: 350px) {
            font-size: 8px;
            margin-left: 5px;
        }
    }

    &:hover {
        background-color: lighten($color: $box-color, $amount: 15%);
        cursor          : pointer;
        text-decoration : none;
    }

    @include for-phone-only {}

}