// Base table styles
.page-content table {
    width          : 100%;
    border-collapse: collapse;

    @include for-phone-only {
        display: none;
    }
}

.page-content table td {
    padding: 5px 10px;
}

.page-content table tr:first-child {
    background-color: lighten($color: $secondary-color, $amount: 20%);
    color           : $white;
}

.page-content table tr:first-child {
    background-color: lighten($color: $secondary-color, $amount: 20%);
    color           : $white;
}

.page-content table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.025);
}

.page-content table tr th {
    text-align: left;
}

// Table styles for casino page header block
.casino-header table {
    table-layout   : fixed;
    width          : 100%;
    border-collapse: collapse;
}

.casino-header tr {
    line-height: 35px;
}

.casino-header th {
    text-align: left;
}

.casino-header td {
    text-align: right;
    padding   : 5px 0;
    width     : 50%;
}