.casino-list3 {
    margin       : 25px 0;
    counter-reset: listcounter;

    .base-style3 {
        box-shadow      : 0 0 8px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.65);
        display         : flex;
        flex-wrap       : wrap;
        align-items     : center;
        padding         : 10px 20px;
        margin-bottom   : 20px !important;
        position        : relative;
        height          : 150px;

        transform: scale(1.00);
        transition: 0.3s;
        border-radius: 15px;
    
        @include for-phone-only {
            flex-direction: column;
            height        : initial;
        }

        &>* {
            height: 100%;
            flex  : 0 0 20%;

            @include for-phone-only {
                margin-bottom: 15px;
            }
        }
    }

    &__order3 {
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: $light-grey;
        color           : $dark-grey;
        height          : initial !important;
        padding         : 10px;
        border-top-left-radius: 15px;

        &:before {
            counter-increment: listcounter;
            content          : counter(listcounter);
            font-weight      : bold;
        }
    } 

    &__logo3 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        transform      : scale(1.00);
        transition     : 0.4s;

        &:hover {
            transform  :scale(1.30);
            transition :0.4s;
        }
    }

    &__bonus3 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 18px;
        font-weight    : 300;
        text-align: center;
        padding: 0 10px;
        cursor: default;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $cta-green;
        }
    }

    &__rating3 {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;
        

        .casino-name3 {
            font-weight   : initial;
            text-transform: uppercase;
            font-size     : 18px;
            text-align: center;
            cursor: default;
        }

        .star-rating3 {
            background-color: white;
            width           : 25px;
            height          : 25px;
            border-radius   : 50%;
            border          : 2px solid $star-gold;
            display         : grid;
            place-items     : center;
            box-shadow      : 0 0 8px 0 rgba(255, 210, 0, 0.5);

            i {
                font-size: 8px;
                color    : $star-gold;
            }
            
        }

        .casino-rating3 {
            font-weight: initial;
            font-size  : 16px;
            cursor: default;
        }
    }

    &__pluses3 {
        display       : flex;
        flex-direction: column;
        align-items   : left;
        font-weight   : 300;
        font-size     : 14px;

        @include for-phone-only {
            font-size: 16px;
        }

        .plus3 {
            flex       : 0 0 32.5%;
            display    : flex;
            align-items: center;

            @include for-phone-only {
                margin-bottom: 10px;
            }
        }

        i {
            font-size   : 10px;
            color       : $cta-green;
            margin-right: 5px;
        }
    }

    &__more3 {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;

        .list-review3 {
            color          : $text-color;
            font-size      : 14px;
            text-decoration: none;

            @include for-phone-only {
                margin-bottom: 10px;
            }

            i {
                color    : $cta-green;
                font-size: 12px;
            }

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .to-the-casino3 {
            color           : #ffffff00;
            padding         : 10px 30px;
            background-image: url(/wp-content/themes/kentaurusvjp/dist/img/buttons/Pelaa.png);
            background-size: cover;
            border-radius: 10px;

            &:hover {
                background-color: lighten($color: $cta-green, $amount: 10%);
            }
        }
    }

    &__terms3 {
        position        : absolute;
        bottom          : -35px;
        left            : 0;
        width           : 100%;
        padding         : 10px;
        height          : initial !important;
        background-color: #f4f4f4;
        font-size       : 10px;
        color           : #959595;

        @include for-phone-only {
            bottom: -70px;
        }

        i {
            margin-right: 5px;
        }
    }
}
@media (max-width: 930px) {
	.casino-list3 .base-style3>* {
    flex: 0 0 19% !important;
}}

@media (max-width: 789px) {
	.casino-list3 .base-style3>* {
    flex: 0 0 18% !important;
}}
@media (max-width: 724px) {
	.casino-list3 .base-style3>* {
    flex: 0 0 14% !important;
}}

@media (max-width: 720px) {
.casino-list3 .base-style3 {
    flex-direction: column !important;
    height: initial !important;
    }}

    .casino-list3 .base-style3:hover {
        --borderWidth: 2px;
        transform: scale(1.02);
        transition: .3s;
        background:white;
        position: relative;
        border-radius: var(--borderWidth);
        border-radius: 15px;
      }
    //   .casino-list3 .base-style3:hover{
    //   :after {
    //     content: '';
    //     position: absolute;
    //     top: calc(-1 * var(--borderWidth));
    //     left: calc(-1 * var(--borderWidth));
    //     height: calc(100% + var(--borderWidth) * 2);
    //     width: calc(100% + var(--borderWidth) * 2);
    //     background: linear-gradient(60deg, #f3c016, #f37c64, #ff0048, #c40ee4, #105efc, #05d5f5, #00ffdd, #00ff40);
    //     border-radius: calc(2 * var(--borderWidth));
    //     z-index: -1;
    //     animation: animatedgradient 3s ease alternate infinite;
    //     background-size: 300% 300%;
    //   }
    // }
      
      
      @keyframes animatedgradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }