.casino-list4 {
    margin         : 25px 0;
    counter-reset  : listcounter;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;

        @include for-phone-only {
            justify-content: center;
        }


    .base-style4 {
        box-shadow      : 0 0 8px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.65);
        display         : flex;
        flex-wrap       : wrap;
        align-items     : center;
        padding         : 10px 20px;
        margin-bottom   : 20px !important;
        position        : relative;
        height          : 110px;
        width           : 280px;
        justify-content: space-between;
        transform       : scale(1.00);
        transition      : 0.4s;
        border-radius   : 15px;
    
        @include for-phone-only {
            flex-direction: column;
            height        : initial;
        }

        &>* {
            height: 100%;
            flex  : 0 0 20%;

            @include for-phone-only {
                margin-bottom: 15px;
            }
        }
    }

    &__logo4 {
        display        : flex;
        justify-content: center;
        align-items    : center;
        transform      : scale(1.00);
        transition     : 0.4s;

        &:hover {
            transform  :scale(1.40);
            transition :0.4s;
        }

        img {
            max-width : 80px !important;
        }
    }

    &__bonus4 {
        // display        : flex;
        margin-top     : 10px;
        justify-content: center;
        align-items    : center;
        font-size      : 8px;
        font-weight    : 400;
        text-align     : center;
        padding        : 0 12px;
        cursor         : default;

        @include for-phone-only {
            text-align: center;
        }

        span {
            display    : contents;
            font-weight: bold;
            color      : $cta-green;
        }
    }

    &__rating4 {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;
        

        .casino-name4 {
            font-weight     : initial;
            text-transform  : uppercase;
            font-size       :8px;
            font-weight     : 600;
            text-align      : center;
            cursor          : default;
        }

        .star-rating4 {
            background-color: white;
            width           : 25px;
            height          : 25px;
            border-radius   : 50%;
            border          : 2px solid $star-gold;
            display         : grid;
            place-items     : center;
            box-shadow      : 0 0 8px 0 rgba(255, 210, 0, 0.5);

            i {
                font-size: 8px;
                color    : $star-gold;
            }
            
        }

        .casino-rating4 {
            font-weight: initial;
            font-size  : 16px;
            cursor     : default;
        }
    }

    &__pluses4 {
        display       : flex;
        flex-direction: column;
        align-items   : left;
        font-weight   : 400;
        font-size     : 14px;

        @include for-phone-only {
            font-size: 16px;
        }

        .plus4 {
            flex       : 0 0 42.5%;
            display    : flex;
            align-items: center;

            @include for-phone-only {
                margin-bottom: 10px;
            }
        }

        i {
            font-size   : 10px;
            color       : $cta-green;
            margin-right: 5px;
        }
    }

    &__more4 {
        display        : flex;
        flex-direction : column;
        justify-content: space-evenly;
        align-items    : center;

        .list-review4 {
            color          : $text-color;
            font-size      : 6px;
            text-decoration: none;

            @include for-phone-only {
                margin-bottom: 10px;
            }

            i {
                color    : $cta-green;
                font-size: 12px;
            }

            &:hover {
                cursor         : pointer;
                text-decoration: underline;
            }
        }

        .to-the-casino4 {
            text-align      : center;
            text-decoration : none;
            color           : $white;
            text-transform  : uppercase;
            font-size       : 14px;
            background-color: $cta-green;
            padding         : 10px 40px;
            border-radius   : 15px;

            &:hover {
                background-color: lighten($color: $cta-green, $amount: 10%);
            }
        }
    }

    &__terms4 {
        position        : absolute;
        bottom          : -45px;
        left            : 0;
        width           : 100%;
        padding         : 10px;
        height          : initial !important;
        background-color: #f4f4f4;
        font-size       : 10px;
        color           : #959595;

        @include for-phone-only {
            bottom: -70px;
        }

        i {
            margin-right: 5px;
        }
    }
}
@media (max-width: 940px) {
	.casino-list4 .base-style4>* {
    flex: 0 0 19% !important;
}}

@media (max-width: 789px) {
	.casino-list4 .base-style4>* {
    flex: 0 0 18% !important;
}}
@media (max-width: 724px) {
	.casino-list4 .base-style4>* {
    flex: 0 0 14% !important;
}}

@media (max-width: 720px) {
.casino-list4 .base-style4 {
    flex-direction: column !important;
    height: initial !important;
    }}

    .casino-list4 .base-style4:hover {
        --borderWidth: 2px;
        transform: scale(1.02);
        transition: .4s;
        background:white;
        position: relative;
        border-radius: var(--borderWidth);
        border-radius: 15px;
      }
            
      @keyframes animatedgradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }