.casino-header {
    background-color: $main-color;
    padding         : 30px 0;
    background-size : cover;
    background-position: 50%;

    .casino-information {
        .casino-info-inner {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .breadcrumbs {
                font-size: 10px;
                color    : $white;

                a {
                    color: $white
                }
            }

            .casino-title {
                font-size : 10px;
                color     : $white;
                visibility: hidden;
            }

            .casino-modified {
                color    : $white;
                font-size: 10px;
            }
        }
    }

    .top-header {
        display        : flex;
        justify-content: space-between;

        @include for-phone-only {
            flex-direction: column;
        }

        th,
        td {
            font-size: 14px;
        }

        th {
            font-weight: 300;
            line-height: 16px;
        }

        td {
            font-weight: bold;
        }

        .casino-emoji img {
            height: 18px !important;
            width : 18px !important;
        }

        .bonus-part {
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            flex           : 0 0 27%;

            @include for-phone-only {
                margin-bottom: 20px;
            }

            .bonus-part-top {
                background     : $casino-block-bg;
                border-radius  : 5px;
                display        : flex;
                flex-direction : column;
                align-items    : center;
                justify-content: center;
                height         : 70%;

                @include for-phone-only {
                    margin-bottom: 20px;
                }

                img {
                    max-width : 220px;
                    max-height: 65px;
                    object-fit: contain;
                }

            }


            .bonus-text {
                text-align : center;
                font-size  : 18px;
                font-weight: 400;
                margin     : 0;
                margin-top : 15px;
                color      : $dark-grey;


                span {
                    color      : $main-color;
                    font-size  : 20px;
                    font-weight: bold;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            .get-bonus {
                color          : #ffffff00;
                border-radius  : 5px;
                font-size      : 26px;
                text-decoration: none;
                text-align     : center;
                background-image: url(/wp-content/themes/kentaurusvjp/dist/img/buttons/Pelaa.png);
                background-size: cover;
                background-position: center;
                background-color: #68C75B;

                @include for-phone-only {
                    background-size: 50%;
                    background-repeat: no-repeat;
                }
            }

        }

        .general-information {
            flex            : 0 0 35%;
            background-color: $casino-block-bg;
            border-radius   : 5px;

            @include for-phone-only {
                margin-bottom: 20px;
            }

            caption {
                font-weight: bold;
            }

            .general-email {
                font-size: 12px;
                color    : $dark-grey;
                line-height: 16px;
            }

            .licence-info {
                position: relative;

                .emoji:hover {
                    cursor: pointer;
                }

                .licence-text {
                    position        : absolute;
                    top             : -50px;
                    right           : -30px;
                    box-shadow      : $box-shadow;
                    padding         : 10px;
                    z-index         : 100;
                    margin          : 0;
                    background-color: $white;
                    border-radius   : 5px;
                    width           : 350px;
                    line-height     : 20px;
                    text-align      : center;
                    display         : none;
                    font-weight     : 300;
                    font-size       : 14px;
                }
            }
        }

        .bonus-information {
            flex            : 0 0 35%;
            background-color: $casino-block-bg;
            border-radius   : 5px;

            caption {
                font-weight: bold;
            }

            a {
                text-decoration: none;
            }

            .bonus-td {
                line-height: 16px;
            }
            .bonus-td a {
               color: #B96C29;
            }

            .bonus-code {
                border          : 1px dashed $dark-grey;
                padding         : 5px;
                background-color: $white;
                color: #B96C29;
            }
        }

    }

    .bottom-header {
        margin: 30px 0;

        img {
            width     : 70px;
            height    : 25px;
            object-fit: contain;
        }

        .bottom-header-inner {
            display        : flex;
            justify-content: space-between;

            @include for-phone-only {
                flex-wrap     : wrap;
                flex-direction: column;
            }

            .payment-options {
                display       : flex;
                flex-direction: column;
                flex          : 0 0 48.5%;

                .payments-title {
                    color        : $white;
                    margin-bottom: 10px;

                    i {
                        margin-right: 5px;
                    }
                }

                .payment-images {
                    background   : $casino-block-bg;
                    border-radius: 5px;
                    display      : flex;
                    flex-wrap    : wrap;
                    align-items  : center;
                    position     : relative;

                    .payment-img-wrap {
                        flex           : 0 0 16%;
                        display        : flex;
                        justify-content: center;

                        @include for-phone-only {
                            flex  : 0 0 25%;
                            margin: 5px 0;
                        }
                    }

                    .see-more {
                        color      : $text-color;
                        font-size  : 14px;
                        font-weight: 300;

                        i {
                            // color: $secondary-color;
                            color: black;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .all-payments {
                        position        : absolute;
                        display         : flex;
                        flex-wrap       : wrap;
                        background-color: $casino-block-bg;
                        top             : 50px;
                        right           : 0;
                        padding         : 10px;
                        box-shadow      : $box-shadow;
                        border-radius   : 5px;
                        width           : 100%;
                        display         : none;
                        z-index         : 100;

                        @include for-phone-only {
                            top: 85px;
                        }

                        .payment-img-wrap {
                            flex           : 0 0 20%;
                            margin-top     : 10px;
                            margin-bottom  : 10px;
                            display        : flex;
                            justify-content: center;
                        }
                    }
                }
            }

            .software {
                display       : flex;
                flex-direction: column;
                flex          : 0 0 48.5%;

                @include for-phone-only {
                    margin-top: 20px;
                }

                .software-title {
                    color        : $white;
                    margin-bottom: 10px;

                    i {
                        margin-right: 5px;
                    }
                }

                .software-images {
                    background   : $casino-block-bg;
                    border-radius: 5px;
                    display      : flex;
                    flex-wrap    : wrap;
                    align-items  : center;
                    position     : relative;

                    .software-img-wrap {
                        flex           : 0 0 16%;
                        display        : flex;
                        justify-content: center;

                        @include for-phone-only {
                            flex  : 0 0 25%;
                            margin: 5px 0;
                        }
                    }

                    .see-more {
                        color      : $text-color;
                        font-size  : 14px;
                        font-weight: 300;

                        i {
                            // color: $secondary-color;
                            color: black;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .all-software {
                        position        : absolute;
                        display         : flex;
                        flex-wrap       : wrap;
                        background-color: $casino-block-bg;
                        top             : 50px;
                        right           : 0;
                        padding         : 10px;
                        box-shadow      : $box-shadow;
                        border-radius   : 5px;
                        width           : 100%;
                        display         : none;
                        z-index         : 100;

                        @include for-phone-only {
                            top: 85px;
                        }

                        .software-img-wrap {
                            flex           : 0 0 20%;
                            margin-top     : 10px;
                            margin-bottom  : 10px;
                            display        : flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }

    }
}
/* Bottom CTA block */

.hidden {
    display: none;
}

.fixed {
    position: -webkit-sticky !important;
    position: sticky !important;
  }  

.single-casino-action {
    // background: rgba(66, 76, 96, .9);
    background: #b96c29;
    position  : fixed;
    bottom    : 0;
    right     : 0;
    width     : 100%;
    opacity   : 0.9;
}

.action-wrap {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 80px;
}

.single-ca-img {
    display: flex;
}

.single-ca-img img {
    width     : 180px;
    height    : 70px;
    object-fit: contain;
    padding   : 3px 0; 
}

.single-ca-info .ca-info {
    padding-right : 40px;
    color         : #fff;
    font-weight   : bold;
    text-transform: uppercase;
    font-size     : 20px;
    br {
        content: '';
    }
    br:before {
        content: ' ';
    }
}

.single-ca-info {
    display    : flex;
    align-items: center;
    margin: 0 auto;
}

.ca-button {
    color          : #fff0!important;
    border-radius  : 5px;
    padding        : 5px 50px;
    color          : #fff;
    background-image: url(/wp-content/themes/kentaurusvjp/dist/img/buttons/Pelaa.png);
    background-size:cover;
    background-position: center;
}

.last-modified {
    color: #fff;
}

@media (max-width:767px) {
    .action-wrap {
        padding: 10px 20px;
        justify-content: space-evenly;
    }

    .single-ca-info {
        flex-direction: column;
        align-items   : center;
        text-align    : center;
    }

    .single-ca-info .ca-info {
        font-size  : 14px;
        line-height: 16px;
    }

    .single-ca-img img {
        width     : 100px;
        height    : 50px;
        object-fit: contain;
    }

    .single-ca-info .ca-info {
        padding: 0;
        margin-right: 50px;

    }

    .ca-button {
        margin-top  : 10px;
        margin-right: 50px;
    }


}