// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
    background: $nav-background-color;

    .header-inner {
        display    : flex;
        align-items: center;
        height     : 60px;
        color      : $nav-text-color;

        @include for-phone-only {
            height         : auto;
            justify-content: space-between;
            height         : 60px;
        }

        @include for-tablet-up-900 {
            height         : auto;
            justify-content: space-between;
        }
    }

    &__logo {
        img {
            max-width : 180px;
            height    : auto;
            object-fit: contain;
        }

        a {
            display    : flex;
            align-items: center;
        }
    }

    &__nav {

        margin-left: auto;

        // Main menu styles
        .menu {
            display: flex;
            margin : 0;
            padding: 0;

            ul {
                margin : 0;
                padding: 0;
            }

            img {
                width       : 24px;
                height      : auto;
                object-fit  : contain;
                margin-right: 5px;
            }

            .fa-angle-down {
                margin-left: 5px;
            }

            .menu-item {
                list-style: none;
                padding   : 15px;
                font-size : 14px;
            }

            .menu-item:hover {
                cursor: pointer;
            }

            .menu-item-has-children {
                position   : relative;
                display    : flex;
                align-items: center;
            }

            .menu-item a {
                color          : $nav-text-color;
                text-decoration: none;
                display        : flex;
                align-items    : center;
            }

            .menu-item span:after {
                display      : block;
                content      : '';
                border-bottom: solid 2px lighten($color: $secondary-color, $amount: 20%);
                transform    : scaleX(0);
                transition   : transform 250ms ease-in-out;
            }

            .menu-item span:hover:after {
                transform       : scaleX(1);
                transform-origin: 0% 50%;
            }
        }

        // Sub menu styles
        .sub-menu {
            display   : none;
            position  : absolute;
            width     : 240px;
            top       : 50px;
            left      : 0;
            background: $nav-background-color;
            box-shadow: $box-shadow;
            z-index   : 99;

            .menu-item:hover {
                background-color: darken($nav-background-color, 10%);
            }

            .menu-item a:after {
                content: none;
            }
        }

        @include for-phone-only {
            display: none;
        }

        @include for-tablet-up-900 {
            display: none;
        }
    }

    &__search {
        .fa-search:hover {
            cursor: pointer;
        }
    }

}
// Arrows CSS
.arrow {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: transparent;
    text-indent: -9999px;
    border-top: 3px solid;
    border-left: 3px solid;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: black;
    border-radius: 1px;
}
.arrow-down {
    transform: rotate(-135deg);
}
.arrow-up {
    transform: rotate(44deg);
    color: white;
    margin-top: 16px;
    margin-left: -8px;
    border-top: 4.5px solid;
    border-left: 4.5px solid;
    height: 16px;
    width: 16px;
}
.arrow-header-block {
    margin-top: 9px;
    margin-left: 6px;
}
.arrow-casino-header-block {
    margin-top: 6px;
    margin-left: 6px;
}
.arrow-ham-menu {
    margin-left: -3px;
    margin-top: -5px;
}
.arrow-main-menu {
    right: 5px;
    margin-top: -2px;
}
.none {
    font-style: normal;
    font-size: 13px;
    letter-spacing: -0.2px;
}
.arrow-right {
    position: relative !important;
    transform: rotate(135deg);
    margin-left: 3px;
    margin-bottom: 1px;
}

// CheckMark toplist CSS
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color: #73D742;
    left:11px;
    top:6px;
}
 .checkmark_kick {
    position: absolute;
    width:5px;
    height:3px;
    background-color: #73D742;
    left:8px;
    top:12px;
}

// Star rating CSS

.star {
    position: relative;
    
    display: inline-block;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .85em;
    margin-bottom: 1.15em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 26px;
    
    &:before, &:after {
      content: '';
      
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
      border-bottom: .7em  solid #FC0;
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    &:after {  
      transform: rotate(35deg);
    }
  }

  // Search CSS

  .site-header__search {
    margin-top: -5px;
  }

  .search-wrapper {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background-color: #e6e6e6;
}
  .search-button {
	position: relative;
	width: 20px;
	margin: 0 auto;
	padding: 0px 0;
	text-align: center;
    cursor: pointer;
  }
  .search-white {
    border: 1.3px solid #ffffff !important;
    background-color: white !important;
  }
  .search-white-circle {
    border: 2px solid #ffffff !important;
  }
	.search__circle {
		width: 12px;
		height: 12px;
		border: 2px solid #1D1E22;
		border-radius: 100px;
	}

	.search__rectangle {
	position: relative;
    right: -8px;
    bottom: .45px;
    width: 9px;
    transform: rotate(45deg);
    border: 1.3px solid #1D1E22;
    background-color: black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    }


    // Mobile menu icon display none
    .sidenav .menu-icon {
        display: none;
    }

//    //Header min width 
//    .header-inner.container{
// 	min-width: 300px;
// }