.page-block {
    padding:30px 0;
    background-color:$white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-block .container {
    background:#fff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-block .two-col-wrap {
    display        : flex;
    justify-content: space-between;

    @include for-phone-only {
        flex-direction: column;
    }
    
    .left-column,
    .right-column {
        flex: 0 0 48%;
    }
}
@media (max-width: 599px) {
    .page-block img {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
}
@media (min-width:1200px) {
    .page-block {
        background:
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/FrontMan.png) 96% 100%,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/FrontLady.png) 5%  80%,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/Wowbubble.png) 95% 36%,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/Questionmarks.png) 10% 32%, 
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/Slotmachine.png) 3% 115%,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/HalftoneSplash.png) 50% 10%,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/BGTiledPattern.png),
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/StarburstLeft.png) left center,
        url(/wp-content/themes/kentaurusvjp/dist/img/BGelements/StarburstRight.png) right center;
        background-size:
            25%,
            25%,
            150px,
            150px,
            200px,    
            90%,    
            200px,
            750px,
            750px;
        background-repeat: 
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,    
            no-repeat,    
            repeat,
            no-repeat,
            no-repeat;
            background-color:#F7C286;
            background-attachment: fixed;
    }
}
@media (min-width:1600px) {
    .page-block {
        background-size:
        25%,
        25%,
        200px,
        200px,
        250px,    
        80%,    
        200px,
        1000px,
        1000px;
        
        background-position: 
        92% 101%, 
        15% 90%, 
        95% 32%, 
        17% 33%, 
        5% 115%, 
        50% 10%, 
        center, 
        left center, 
        right center;
    }
    
}