.search-title {
    display        : flex;
    justify-content: left;
    padding        : 30px 0;
    font-size      : 20px;
    font-weight    : bold;
}

.search-results {

    .search-single-post {
        display    : flex;
        align-items: center;

        @include for-phone-only {
            flex-direction: column;
        }

        img {
            max-width   : 200px;
            max-height  : 130px;
            object-fit  : contain;
            margin-right: 20px;
        }

        .search-single-title {
            font-size      : 26px;
            text-decoration: none;
            display        : flex;

            &:hover {
                text-decoration: underline;
            }
        }

        .search-single-date {
            font-size: 14px;

            span {
                font-weight: bold;
            }
        }

        .search-single-excerpt {
            font-weight: 300;
        }
    }

    .seperator {
        display        : flex;
        justify-content: center;
        margin         : 50px 0;

        img {
            max-width : 24px;
            height    : auto;
            object-fit: contain;
        }

        @include for-phone-only {
            margin: 20px 0 40px;
        }
    }
}

.search-results {
    #searchform {
        display   : flex;
        padding:20px 0;

        input[type="text"],
        button[type="submit"] {
            outline: none;
        }

        input[type="text"] {
            border    : none;
            box-shadow: $box-shadow;
        }

        input {
            line-height: 1.6;
            font-size  : 12px;
            width      : 50%;

            @include for-phone-only {
                width:90%;
            }
        }

        button {
            background-color: $secondary-color;
            display         : flex;
            align-items     : center;
            padding         : 8px;
            border          : none;
            width           : 10%;
            display         : flex;
            justify-content : center;

            i {
                color: $white;
            }
        }
    }
}