.with-sidebar {
    display        : flex;
    justify-content: space-between;

    .single-column {
        flex: 0 0 70%;

        @include for-phone-only {
            flex: 0 0 100%;
        }
    }

    .sidebar {
        flex: 0 0 28%;

        @include for-phone-only {
            display: none;
        }
    }

}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1A2C3D;
    border-radius: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #44525f; 
  }
  
  /* Back to Top button  */
  
  #back-to-top-button {
    display: inline-block;
    background-color: #E0E55D;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    margin-bottom: -1px;
  }
  #back-to-top-button::after {
    margin-bottom: 5px;
    content: "";
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 37px;
    color: #fff;
  }
  #back-to-top-button:hover {
    cursor: pointer;
    background-color: #1A2C3D;
  }
  #back-to-top-button:active {
    background-color: #e37a8b;
  }
  #back-to-top-button.show {
    opacity: 1;
    visibility: visible;
  }
  
  .fa-angle-up {
    color: white;
    font-size: 2em;
    margin-top: 3px;
  }